body {
  background-color: #926239;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #926239;
  line-height: 1.6;
  text-align: center;
}
/* header styles */
.header-class {
  background-image: url("../images/beachshowcase.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  line-height: 1.2;
}

.greetings {
  font-size: 50px;
  font-weight: bold;
  padding-top: 40vh;
}

.greetings-content {
  margin-bottom: 3vh;
  font-size: 20px;
}

.button {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #926239;
}

.button:hover {
  color: #f4f4f4;
  background-color: #926239;
}

/* main content styles */

.article-1,
.article-2,
.content {
  padding: 20px;
}

.article-1,
.fractional {
  color: #f9f9f9;
}

.article-2 {
  background-color: #f4f4f4;
}

.center {
  color: #926239;
  background-color: #f9f9f9;
}

.content {
  display: inline-block;
  text-align: left;
  width: 30%;
}
