* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  color: #926239;
}
/* header styles */

.header-class {
  background-image: url("../images/beachshowcase.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  line-height: 1.2;
  padding-top: 40vh;
}

.text-location-center {
  text-align: center;
}

.greetings {
  font-size: 50px;
  font-weight: bold;
}

.greetings-content {
  margin-bottom: 3vh;
  font-size: 20px;
}

.button {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #926239;
}

.button:hover {
  color: #f4f4f4;
  background-color: #926239;
}

/* main content styles */

.first-broun-paragraph,
.second-white-paragraph,
.fractional-paragraph-content {
  padding: 20px;
}

.first-broun-paragraph,
.central-paragraph,
.fractional-section {
  color: #f9f9f9;
  background-color: #926239;
}

.second-white-paragraph {
  background-color: #f4f4f4;
}

.fractional-paragraph-content {
  display: inline-block;
  text-align: left;
  width: 33%;
}

.central-paragraph {
  color: #926239;
  background-color: #f9f9f9;
}

